<div class="top-container">
            <div id="theTarget">
                <div style="background-image: url(/assets/test1.jpg)"></div>
                <div style="background-image: url(/assets/test2.jpg)"></div>
                <div style="background-image: url(/assets/test3.jpg)"></div>
                <div style="background-image: url(/assets/test4.jpg)"></div>
                <div style="background-image: url(/assets/test5.jpg)"></div>
            </div>/
</div>