<div class="top-container">
    <div class="row">
        <div class="col-md-6 left-circle">
            <div class="harf_field">
                <div class="slider">
    				<% @entries.each_with_index do |entry, index|  %>
                            <div style="background-image: url(<%= asset_path("test#{index+1}.jpg")%>)">
                                <p class="slider-text">
                                    <span class="record-history" href="<%= entry.url%>"><%= entry.title %></span><br>
                                    <%= entry.published.strftime("%Y-%m-%d-%R") %>
                                </p>
                            </div>
                    <% end %>
    			</div>
            </div>
            <div class="topleft-message">
                Today's News
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>




