
<div class="container">
	<% @all_ranks.each.with_index(1) do |stock, i| %>

		<div class="panel panel-default">
		      <div class="panel-body">
		      	<p>  Top <%= i %> </p>
		      	<span href="<%= stock.entry.url%>"><%= stock.entry.title %></span> - <i> published <%= stock.entry.published.strftime("%Y-%m-%d-%R") %></i>
	          </div>
	    </div>

	<% end %>
</div>