

<div class="container">
   <div class="row">
			<div class="about-title">Speedy</div>
			<div class="about-contents">
				仕事や生活で情報収集が欠かせない、<br>
				けれど情報収集に対しての時間的創出が少ない人へ向けたニュースアプリケーション。<br>
				選ぶ時間を省き、片手間に画面を見るだけで良い、流し読みの情報収集<br>
			</div>

			<div class="btn-back"><%= link_to "Back", home_route_path %></div>
	</div>
</div>


