<body>


             <!-------HEADER-------->
 			 <header class="top-header">
 				 <div class="animsition">
   					 <%= link_to 'topページへ', articles_top_path %>
  			  	 </div>
                 <nav class="top-nav">
  	               <ul>
  		             <li>login</li>
  		             <li>sign-in</li>
  	               </ul>
                 </nav>
             </header>


             <!-------MAIN----------->
             <div class= "top-main">
             	<div class="container">
             	</div>

             </div>










</body>
















<h1>home#home</h1>
  <div class="animsition">
    <%= link_to 'topページへ', articles_top_path %>
  </div>