<body class="home-body">

			<nav class="layer">
			    <ul class="home-contents">
			        <li class="home-list"><%= link_to "sign up", new_user_registration_path %></li>
              		<li class="home-list"><%= link_to "log in",  new_user_session_path %></li>
              		<li class="home-list"><%= link_to "what's speedy", home_about_path %></li>
			    </ul>
			</nav>

			<section class="home page layer">
				<h1 class= "home-title">Speedy</h1>
			</section>


</body>



