/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

a {
    color: #000;
    text-decoration: none;
    }


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

body{
  background: dimgray;
}

.container-fluid{
        position:relative;
        margin:0 auto;
    }

.container{
        position:relative;
        margin:0 auto;
        height:1300px;
    }


/* ------------LOGIN,SIGN UP------------- */
    .back-button{
        color:#fff;
        margin-left:20px;
        font-size:20px;
        font-family: "Phosphate-Solid", "Phosphate Solid";
        width:30px;
    }
        .back-button:hover{
            text-decoration: none;
            color:#222;
        }

    .back-contents{
        margin-top:30px;
    }

    .login-body {
        background-color: #222;
    }

    .login-main {
        background-color: #FFFFFF;
        width: 400px;
        height: 550px;
        margin: 100px auto;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.5);
		font-size: 40px;
        border-radius: 30px;
    }

    .login-sign {
        padding-top: 75px;
        margin-bottom:20px;
        color: black;
        font-weight: bold;
        font-size: 55px;
    }

    .name{
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        outline: none;
        box-sizing: border-box;
        margin-top:20px;
        margin-bottom: 40px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 10px;
        font-family: "Verdana";
    }

    .mail {
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        outline: none;
        box-sizing: border-box;
        margin-bottom: 10px;
        margin-left: 46px;
        text-align: center;
        font-family: "Verdana";

    }

    .pass {
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        outline: none;
        box-sizing: border-box;
        margin-left: 46px;
        font-family: "Verdana";
    }

    .pass-confirm{
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        outline: none;
        box-sizing: border-box;
        margin-left: 46px;
        font-family: "Verdana";

    }

    .send {
      cursor: pointer;
        color: #fff;
        background-color: #808080;
        border: 10px;
        padding: 10px 40px;
        margin-left: 35%;
        font-size: 13px;
        border-radius: 10px;
    }

    .log-in{
        margin-left: 44%;
        font-size:12px;
        padding-top: 15px;
    }
    .forgot{
        margin-left: 36%;
        font-size:12px;
    }


	@media (max-width: 600px) {
        .login-main {
            border-radius: 10px;
        }
     }

     .sign-up{
        margin-left: 44%;
        font-size:12px;
        padding-top: 15px;
     }

    .signup-sign{
        padding-top: 30px;
        margin-bottom:15px;
        color: black;
        font-weight: bold;
        font-size: 50px;
    }

     .signup-main{
     	background-color: #FFFFFF;
        width: 400px;
        height: 550px;
        margin: 100px auto;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.5);
		padding-top: 30px;
		font-size: 40px;
        border-radius: 30px;
     }

    .password-attention{
        font-size:10px;
    }
    .password-title{
        font-size:15px;
        font-family: "Verdana";
    }

/* ------------INDEX (CATEGORY)------------- */
    .stock-icon{
        color: black;
    }
    .stock-already{
        color :red;
    }

    .index-bg{
        background: repeating-linear-gradient(90deg, #949494, #949494 3px, #808080 , #808080 10px);
    }

    .index-left{
        background-color: gold;
        left:0;
        position:fixed;
        display:block;
        padding:5px 0;
        text-align:left;
        float:right;
        width:20%;
        height:1000px;
    }

        .index-category{
            color: #000;
            margin:0 auto;
            padding:20px;
            font-family: "Phosphate-Solid", "Phosphate Solid";
        }
            .index-category a:hover{
                text-decoration: none;
                color: #fff;
            }

        .index-title a{
            font-family: "Phosphate-Solid", "Phosphate Solid";
            font-size:50px;
        }
            .index-title a:hover{
                text-decoration: none;
                transition: 0.1s;
                color: #fff;
            }

        .index-list{
            margin:0 auto;
            color: #000;
            padding:20px;
            padding-bottom:30px;
            margin-top: 100px;
            font-size:17px;
             font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
        }
            .index-list a:hover{
                text-decoration: none;
                color:#fff;
            }

    .index-middle{
       margin-left:320px;
       padding-top:50px;
       width: 50%;
       background-color: rgba(105,105,105,0.6);
    }
         .pagenate{
            color: #fff;
            size:30px;
            text-decoration: none;
            border-bottom:solid 3px #222;
        }

    .panel-body:hover{
       outline: 10px solid rgba(69,69,69,0.7);
       color:#000;
       cursor: pointer;
       cursor: hand;
    }

    .index-right{
        right:20px;
        position:fixed;
        display:block;
        padding:5px 0;
        text-align:left;
        height:1000px;
        width:24%;
        margin-bottom:0;
    }

    #indexHexGrid{
        margin-top:500px;
        margin-left:20px;
    }

    /* ------------INDEX (SLIDER)------------- */
    .slider{
        width: 680px;
        height: 100px;
        margin: 0 auto;
        margin-bottom:30px;
       font-weight: bold;
    }
        .slider:hover{
            cursor: pointer;
            cursor: hand;
            background-color:#c4c4c4;
        }

    .slider-text{
        width: 680px;
        height: 100px;
        padding:20px;
        text-align: center;
        font-size: 20px;
        color:#000;
    }

    /* ------------INDEX (SEARCH)------------- */

    .search-title{
        font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    }

    .search-container {
         margin-top:30px;
         margin-left:20px;
    }
        .search-box:hover{
            cursor: pointer;
            cursor: hand;
        }

    .greeting{
        color:#fff;
        font-size:20px;
        margin-top:25px;
        border-bottom: solid 2px #fff;
        text-align: right;
        margin-right:10px;
    }
    /* ------------INDEX (WEATHER)------------- */
    .weather-box{
        color:#000;
        padding:25px;
        margin:10px 0;
        background-color: rgba(105,105,105,0.6)
    }
    .weather-title{
        color:#fff;
        font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    }
    .search-title{
         font-family: "Phosphate-Solid", "Phosphate Solid";
    }
        .search-input:hover{
            cursor: pointer;
            cursor: hand;
        }

    #cityname{
        color:#222;
        border:0;
        font-size:1.4em;
        border:solid 1px #ccc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .weather-list{
        color:#fff;
        font-size:16px;
        margin-top:8px;
    }

     /* ------------INDEX (RANKING)------------- */

    .ranking-index{
        color:#000;
    }
        .ranking-index ul:hover{
            background-color:#c4c4c4;
        }

    .raniking-box{
        color: black;
        border-left: solid 10px gold;
        background: whitesmoke;
        line-height: 1;
        padding: 0.5em;
        list-style-type: none!important;
        margin-left:20px;
        margin-right:20px;
        margin-bottom:0;
    }

    .ranking-title{
        color:#fff;
        margin-left:20px;
        font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    }

        .stock-ranking:hover{
            cursor: pointer;
            cursor: hand;
        }

    .published{
        font-size:12px;
        color:#222;
    }
    .fa-bookmark{
        padding:5px;
    }

    .rnk{
        color:#000;
        padding:15px;
        background-color: rgba(105,105,105,0.6);
        margin-bottom:15px;
    }

