/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

body{
    background-color: gainsboro;
}

/* ------------LOGIN,SIGN UP------------- */
    .login-body {
        background-color: gainsboro;
        font-family: "Telugu Sangam MN"; font-weight: 700px;
    }

    .login-main {
        background-color: #FFFFFF;
        width: 400px;
        height: 550px;
        margin: 100px auto;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.5);
		font-size: 40px;
        border-radius: 30px;
    }

    .login-sign {
        padding-top: 75px;
        margin-bottom:20px;
        color: #black;
        font-family: "SignPainter"; font-weight: bolder;
        font-weight: bold;
        font-size: 55px;
    }

    .mail {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    outline: none;
    box-sizing: border-box;
    margin-top:20px;
    margin-bottom: 40px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: "Telugu Sangam MN";

    }

    .pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 10px;
    font-family:  "Telugu Sangam MN";
    }

    .pass-confirm{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 10px;
    font-family:  "Telugu Sangam MN";
    }

    .send {
      cursor: pointer;
        color: #fff;
        background-color: #808080;
        border: 10px;
        padding: 10px 40px;
        font-family:  "Telugu Sangam MN";
        margin-left: 35%;
        font-size: 13px;
        border-radius: 10px;
    }

    .log-in{
        font-family:  "Telugu Sangam MN";
        margin-left: 44%;
        font-size:12px;
        padding-top: 15px;
    }
    .forgot{
        font-family:  "Telugu Sangam MN";
        margin-left: 34%;
        font-size:12px;
    }


    a {
        color: #808080;
      	font-family:  "Telugu Sangam MN";
        text-decoration: none
    }

	@media (max-width: 600px) {
        .login-main {
            border-radius: 10px;
        }
     }

     .sign-up{
        font-family:  "Telugu Sangam MN";
        margin-left: 44%;
        font-size:12px;
        padding-top: 15px;
     }

    .signup-sign{
        padding-top: 40px;
        margin-bottom:15px;
        color: #black;
        font-family: "SignPainter"; font-weight: bolder;
        font-weight: bold;
        font-size: 50px;
    }

     .signup-main{
     	background-color: #FFFFFF;
        width: 400px;
        height: 550px;
        margin: 100px auto;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.5);
		padding-top: 30px;
		font-size: 40px;
        border-radius: 30px;
     }

 /* ------------USER HOME------------- */

    /* ------------header------------- */

	header{
		width:100%;
		height:70px;
		background-color:#dcdcdc;
		vertical-align: bottom;
	}

	.header-nav{
		width:100%;
		height:70px;
		margin:0 auto;
	}

	.header-logo{
		margin-left:30px;
		float:left;
	}

    .header-item{
        margin-top:0px;
        float:right;
        list-style: none;
        line-height:70px;
        font-size:35px;
    }

    .header-home{
        font-family: "SignPainter"; font-weight: bolder;
        display: block;
        width: 150px;
        padding: 10px 20px;
        text-align: center;
        color: #778899;
        transition: .4s;
    }
             .header-home:hover {
                 background: #EC407A;
                 color: #fff;
             }

    .header-login{
        font-family: "SignPainter"; font-weight: bolder;
        display: block;
        width: 150px;
        padding: 10px 20px;
        text-align: center;
        color: #778899;
        transition: .4s;
    }
             .header-login:hover {
                 background: #EC407A;
                 color: #fff;
             }

    .header-signup{
        margin-right:40px;
        font-family: "SignPainter"; font-weight: bolder;
        display: block;
        width: 150px;
        padding: 10px 20px;
        text-align: center;
        color: #778899;
        transition: .4s;
    }
             .header-signup:hover {
                 background: #EC407A;
                 color: #fff;
             }


    /*---------header after login--------*/
    #sp-menu {
        position: fixed;
        top: 0;
        right: 0;
        background: #304878;
        opacity:0.8;
        color: #ffffff;
        width: 30%;
        min-height: 100%;
        display: none;
        z-index: 9;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.8);
        }

    #sp-title{
        font-family:"SignPainter";
        font-size:60px;
        margin-top:20px;
        margin-left:40px;
    }

    #sp-menu p{
        text-align: center;
        margin-bottom: 30px;
    }

    #sp-menu a{
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
    }


    #hm-icon{
        position: fixed;
        left: 20px;
        top: 20px;
        z-index: 10;
    }

    .menu-trigger,
    .menu-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }

    .menu-trigger {
        position: relative;
        width: 50px;
        height: 44px;
        margin-left:1340px;
    }

            .menu-trigger span {
                position: absolute;
                right: 0;
                width: 100%;
                height: 8px;
                background-color: #f0f8ff;
                border-radius: 10px;
            }

            .menu-trigger span:nth-of-type(1) {
                top: 0;
            }

            .menu-trigger span:nth-of-type(2) {
                top: 20px;
            }

            .menu-trigger span:nth-of-type(3) {
            bottom: 0;
            }

            .menu-trigger.active span:nth-of-type(1) {
            -webkit-transform: translateY(20px) rotate(-45deg);
            transform: translateY(20px) rotate(-45deg);
            background-color: #ffffff;
            }

            .menu-trigger.active span:nth-of-type(2) {
            opacity: 0;
            }

            .menu-trigger.active span:nth-of-type(3) {
              -webkit-transform: translateY(-20px) rotate(45deg);
              transform: translateY(-20px) rotate(45deg);
            ã€€background-color: #ffffff;
            }

    .after-signup{
        font-size:15px;
        margin-right:40px;
        font-family: "Telugu Sangam MN";; font-weight: bolder;
        display: block;
        width: 150px;
        margin-top:20px;
        padding: 10px 20px;
        text-align: center;
        color: #778899;
        transition: .4s;
    }
             .after-signup:hover {
                 background: #EC407A;
                 color: #fff;
                 width:70%;
             }

	/* ------------main------------- */
	.home-visual{
		margin:0px;
	}

	.home-title{
		font-size:150px;
		color: #FFFFFF;
		text-align: left;
		position:absolute;
		top:280px;
		right:760px;
		font-family:"SignPainter";
	}

	.home-text{
		font-size:20px;
		color: #FFFFFF;
		text-align: center;
		position:absolute;
		top:480px;
		right:670px;
		font-family:"SignPainter";
	}

    .top-link {
        font-family:"SignPainter";
        position: absolute;
        top: 500px;
        left: 870px;
        display: block;
        font-size:40px;
        width: 160px;
        padding: 11px 40px;
        text-align: center;
        color: #ffffff;
        border: 2px solid #EC407A;
        border-radius: 3px;
        transition: .4s;
    }
             .top-link:hover {
                 background: #EC407A;
                 color: #fff;
             }


/* ------------TOP------------- */
    .top-container{
        height: 650px;
    }

    .theTarget{
        postion: relative;
    }

    .slider div {
        width: 1000px;
        height: 650px;
        margin: 0 auto;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.8);
    }

    .slider img {
        width: 1200px;
        height: 650px;
        position:relative;
    }

    .slider-text{
        height:200px;
        font-size: 30px;
        color:#ffffff;
        margin-top:300px;
        margin-right:200px;
        padding:30px;
        background-color: rgba(43, 86, 130, 0.8);
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.9);
        font-family:  "Telugu Sangam MN";
    }


