// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-inquire{
	background-color:#fff;
	margin:100px;
	padding:50px;
}
.inquire-title{
	font-family: "Phosphate-Solid", "Phosphate Solid";
}
.inquire-contents{
	margin-top:30px;
	font-size:20px
}