// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    .mypage-container{
        background-color: gold;
        position:relative;
        margin:0 auto;
        height:1300px;
        padding:50px;
    }

    .mypage-list {
        display: flex;/*横並び*/
        padding:50px;
        margin:0 auto;
        background-color: gold;
    }

    .col {
      width: 80%;
      text-align: center;
    }
        .col a:hover{
          color:#fff;
          text-decoration: none;
        }
            .mp-button{
              background-color: #fcc800;
              margin-right:10px;
              padding:80px 10px;
              box-shadow:0px 0px 19px 5px #736f06;
              font-size:17px;
              border-radius: 10px;
            }
            .mp-button:hover{
                background-color:#222;
            }

    .mypage-top{
        background-color: #222;
        margin-left:50px;
        padding:30px;
        border-radius: 10px;
        width:35%;
    }

    .mypage-title{
        font-size:30px;
        text-align:left;
        font-family: "Phosphate-Solid", "Phosphate Solid";
        color: #fff;
    }
    .mypage-sub{
        font-size:15px;
        text-align:right;
        color: #fff;
    }

    .account-info {
        margin-left:50px;
        margin-top:20px;
        border-radius: 5px;
        padding:15px;
        width:50%;
        border-bottom: solid 2px #000;
    }
        .account-info li{
            font-family: "Impact";
            font-weight:bold;
            list-style: none;
            font-size:20px;
            line-height:2;
        }

    .mypage-reply {
        position: relative;
        margin: 50px;
        padding: 20px;
        border: solid 4px #222;
        border-radius: 8px;
    }
    .mypage-reply .reply-title {
        position: absolute;
        display: inline-block;
        top: -13px;
        left: 10px;
        padding:50px;
        line-height: 1;
        font-size: 20px;
        color: #222;
        font-weight: bold;
    }
    .mypage-reply .reply-body {
        margin: 0;
        padding: 0;
    }


/*-----------------EDIT-----------------------*/
    .edit-container{
        background-color:#fff;
        margin:100px;
        margin-top:200px;
        padding:100px 50px;
    }
    .edit-title{
        font-family: "Phosphate-Solid", "Phosphate Solid";
    }
    .edit-contents{
        margin-top:70px;
        font-size:20px;
        line-height: 2;
    }

    .btn-warning{
         font-family: "Phosphate-Solid", "Phosphate Solid";
    }

    .password-container{
        background-color:#fff;
        margin:100px 100px 20px 100px;
        padding:25px;
        border-radius: 10px
    }
    .top-password{
        font-family: "Phosphate-Solid", "Phosphate Solid";
    }
    .password-contents{
        margin-top:30px;
        font-size:20px;
        line-height: 2;
    }

    .delete-container{
        background-color:#fff;
        margin-right:100px;
        margin-left:100px;
        padding:25px;
         border-radius: 10px
    }

    .delete-title{
        font-family: "Phosphate-Solid", "Phosphate Solid";
    }
    .delete-contents{
        margin-top:30px;
        font-size:20px;
        line-height: 2;
    }
    .btn-warning{
         font-family: "Phosphate-Solid", "Phosphate Solid";
    }

/*-----------------FORGEOT PASSWORD-----------------------*/

    .forgot-container{
        background-color:#fff;
        margin:100px;
        padding:50px;
    }
    .forgot-title{
        font-family: "Phosphate-Solid", "Phosphate Solid";
    }
    .forgot-contents{
        margin-top:70px;
        font-size:20px;
        line-height: 2;
    }

    .btn-warning{
         font-family: "Phosphate-Solid", "Phosphate Solid";
    }
